body {
    font-family: Arial, sans-serif;
    background-image: url("bgimg.jpg");
    padding: 20px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 95%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #9bd0e1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5e97af;
}

.error {
    color: red;
    font-size: 13px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}